[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bestNormalize"]
	path = bestNormalize
	url = https://github.com/petersonr/bestnormalize
[submodule "fastTS"]
	path = fastTS
	url = https://github.com/petersonr/fastts
[submodule "sparseR"]
	path = sparseR
	url = https://github.com/petersonr/sparser
